---
import Layout from "../layouts/Layout.astro";
---

<Layout title="This page got lost...">
  <div class="container">
    <h1>Whoops!</h1>
    <p>404 Page Not Found</p>
    <a href="/">Let's get you back</a>
  </div>
</Layout>

<style>
.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 10rem;
  font-size: 2rem;
}

@media (max-width: 500px) {
  .container {
    margin-top: 5rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 350px) {
  .container {
    margin-top: 2.5rem;
    font-size: 1rem;
  }
}
</style>
