@tailwind base;
@tailwind components;
@tailwind utilities;

/* line numbers for editor */
code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 2rem;
  margin-right: 0.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, 0.4);
}

textarea {
  padding-left: 2.5rem;
}
