#root {
  height: 100%;
}

body.dark-theme .ant-select-dropdown {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgb(30, 30, 30);
}

body.dark-theme .ant-select-item {
  color: rgba(255, 255, 255, 0.9);
}

body.dark-theme .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: rgb(40, 40, 40);
}

body.dark-theme .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #2E3133;
}

body.dark-theme .ant-cascader-menu {
  border-right-color: rgb(45, 45, 45);
}

body.dark-theme .ant-cascader-menu-item:hover {
  background: rgb(40, 40, 40);
}

body.dark-theme .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled), .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled):hover {
  background-color: #2E3133;
}

body.dark-theme .ant-cascader-menu-item-expand .ant-cascader-menu-item-expand-icon, .ant-cascader-menu-item-loading-icon {
  color: rgba(255, 255, 255, 0.45);
}
