---
import Corner from '../components/Corner.astro';

export interface Props {
  title: string;
  prism?: boolean;
}

const { title, prism } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/png" href="/favicon.png" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  {prism && <link rel="stylesheet" href="/prism.css" />}
</head>
<body>
  <main>
    <Corner url="https://github.com/Nikaidou-Shinku/PastePlz" />
    <h1 class="title">Hello, <a class="text-gradient" href="/">PastePlz</a>!</h1>
    <slot />
  </main>
  {prism && <script src="/prism.js"></script>}
</body>
</html>

<style is:global>
:root {
  --accent: 124, 58, 237;
  --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
}
html {
  background-color: #F0F0F0;
}
</style>

<style>
main {
  margin: auto;
  padding: 1.5rem;
  max-width: 1080px;
}

.title {
  font-size: 3rem;
  font-weight: 800;
  font-family: system-ui, sans-serif;
  margin: 0;
}

@media (max-width: 500px) {
  main {
    padding: 1rem;
  }
  .title {
    font-size: 2rem;
  }
}

@media (max-width: 350px) {
  main {
    padding: 0.5rem;
  }
  .title {
    font-size: 1.5rem;
  }
}

.text-gradient {
  background-image: var(--accent-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position: 0%;
}
</style>
